@import (reference) "main";

.articles-page {
	width: 320px;
	margin: 0 auto;
	padding-bottom: 20px;
	.graphic {
		img {
			width: 100%;
			height: 180px;
		}
	}

	.title {
		margin: 20px;
	}
}

.flex-height {
	min-height: 1024px;
}